.dropdown-menu {
  background-color: rgba(191, 191, 183, 0.9);
}

.color-actions {
  background-color: #cfddf8;
}

.light-blue {
  border-color: #a9c3f5;
  color: #a9c3f5;
}
.light-blue:hover {
  background-color: #a9c3f5;
  color: black;
}

.circular-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.btn-blue {
  background-color: #cfddf8;
  color: black;
}
.btn-blue:hover {
  border-color: #cfddf8;
}
