<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <authentication mode="Windows">
            <forms loginUrl="~/Login.aspx" timeout="2880" />
        </authentication>
    </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="inlog.html" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="httpredirect" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
